body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow-x: hidden;
    width: 100%;
}

.header {
    background-color: transparent;
    padding: 20px;
    text-align: center;
}

.header img {
    width: 225px;
    max-width: 100%;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('Images/FONDO.png') no-repeat center center;
    background-size: cover;
}

.static-title {
    position: absolute;
    top: 30px;
    font-size: 2.5em;
    color: #ff69b4;
    margin-bottom: 20px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.slide {
    width: 100%;
    text-align: left;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.slide p {
    color: #24bdf0;
    font-size: 1.2em;
    margin: 10px 0;
    text-align: left;
    word-wrap: break-word;
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.control {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 1.2em;
}

.note {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    color: #000;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer img {
    width: 180px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .static-title {
        font-size: 2em;
        top: 90px;
    }

    .slide p {
        font-size: 1em;
    }

    .control {
        padding: 10px;
    }

    .controls {
        top: 55%;
        padding: 0 5%;
    }

    .note {
        width: 95%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .static-title {
        font-size: 1.5em;
        top: 80px;
    }

    .slide p {
        font-size: 0.9em;
    }

    .control {
        padding: 8px;
        font-size: 1em;
    }

    .controls {
        top: 60%;
        padding: 0 5%;
    }

    .note {
        padding: 10px;
    }
}
